@import "../../../styles/variables.scss";

::ng-deep {
  .mat-dialog-container {
    padding: 0;
    border-radius: $border-radius;
  }
}

:host {
  .mat-dialog-container {
    display: block !important;
    text-align: center !important;
    background-color: $color-light-2;
    color: $color-dark-3;

    mat-icon,
    img {
      margin-top: 18px;
      width: 64px;
      height: 64px;
      font-size: 56px;
    }

    .mat-dialog-title {
      margin: 8px 16px 0px 16px !important;
      text-align: center !important;
      line-height: 1.2 !important;
      color: $color-dark-2;
    }

    .mat-dialog-buttons {
      display: grid;
      margin: 0 16px 16px 16px;
      button:first-child {
        margin-bottom: 8px;
      }
    }

    .mat-dialog-content {
      margin: 0 !important;
    }
  }
}
