<div *ngIf="data" class="mat-dialog-container">
  <mat-icon *ngIf="data.icon && !data.imageIcon">{{ data.icon }}</mat-icon>
  <img *ngIf="data.imageIcon" [src]="data.imageIcon" />
  <h6 mat-dialog-title class="mat-dialog-title">{{ data.title }}</h6>
  <div mat-dialog-content class="mat-dialog-content">
    <p>{{ data.message }}</p>
  </div>
  <div class="mat-dialog-buttons">
    <button
      #buttons
      *ngFor="let b of data.buttons"
      mat-flat-button
      [ngClass]="b.bgClass ? b.bgClass : 'default-bg'"
      (click)="b.click()"
    >
      {{ b.title }}
    </button>
  </div>
</div>
