@import "../../../../styles/variables.scss";

:host {
  display: block;
  background: $primary;
  color: $color-light-1;
  box-shadow: 0 2px 5px 0 $color-dark-4;
  z-index: 9;
  min-height: 56px;

  > mat-toolbar {
    background: transparent;
    min-height: 56px;
    color: $color-light-1;

    > mat-toolbar-row {
      min-height: 56px;
      height: 56px;
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}

.header button {
  background: transparent;
  color: $color-light-1;
}

.icon {
  padding: 0 14px;
}

li {
  display: inline;
  list-style-type: none;
}

.logo {
  height: 100%;
}

.divider {
  width: 1px;
  height: 60%;
  margin: 14px;
  background: $color-light-2;
}

.breadcrumbs {
  line-height: 0.7;

  .breadcrumb {
    padding: 0;
    margin: 0;
    display: inline-flex;
    font-size: small;

    * {
      font-size: 12px;
      text-decoration: none;
      color: $color-light-2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .next {
    padding: 0;
    font-size: 19px;
    height: 20px;
  }

  .current {
    font: 400 18px/24px Roboto, "Helvetica Neue", sans-serif;
    color: $color-light-1;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}
