<div class="content-scrollable">
  <div class="container">
    <img class="logo" src="../../../../assets/logo.png" />
    <br />
    <span>Please confirm your email address then tab Next.</span>
    <span>You will receive account verification code shortly.</span>
    <br />
    <form #loginForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          name="email"
          placeholder="Email"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
          [(ngModel)]="email"
        />
      </mat-form-field>

      <p *ngIf="error" class="error">{{ error }}</p>

      <button
        mat-flat-button
        color="primary"
        (click)="login()"
        [disabled]="!loginForm.form.valid"
        style="margin-top: 4px"
      >
        Next
      </button>
    </form>

    <div class="other">
      <div class="or">
        <mat-divider></mat-divider>
        <span>OR</span>
      </div>

      <button
        mat-flat-button
        color="accent"
        (click)="loginWithTwitter()"
        style="margin-bottom: 8px"
      >
        Sgin in with Twitter
      </button>

      <button mat-flat-button color="warn" (click)="loginWithGoogle()">
        Sgin in with Google
      </button>

      <p></p>

      <button mat-button color="primary" (click)="register()">
        Don't have an account? Sign up
      </button>
    </div>
  </div>
</div>
