@import "../../../../styles/variables.scss";

::ng-deep {
  .mat-snack-bar-container {
    padding: 0;
    background: $error;
    border-radius: $border-radius;

    div {
      height: 100%;
      width: 100%;
    }
  }
}

:host {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
