@import "../../../../styles/variables.scss";

::ng-deep {
  .mat-expansion-panel {
    background: $sidenav-bg;

    .mat-expansion-panel-header {
      .mat-content {
        align-items: center;
      }
      .mat-expansion-indicator::after {
        color: $sidenav-color;
      }
    }
    .mat-expansion-panel-body {
      cursor: pointer !important;
      padding: 0;
    }
  }
}

:host {
  background: $sidenav-bg;
  display: block;
  font-family: sans-serif;
  height: 100%;

  .mat-expansion-panel {
    margin: 0;
    margin-bottom: 1px;
    border: 0;
    border-bottom: 1px solid lighten($sidenav-bg, 8%);
    border-radius: 0;
    box-shadow: none;

    .mat-expansion-panel-header {
      background: $sidenav-bg;
      color: $sidenav-color;
      height: 42px !important;
    }
    .mat-expansion-panel-header:not([aria-disabled="true"]) {
      cursor: pointer !important;
    }

    .item {
      align-items: center;
      background: $sidenav-bg;
      color: $sidenav-color;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      padding: 8px 8px 8px 38px;
      text-decoration: none;
    }
    .active {
      background: $sidenav-item-active-bg;
    }

    .mat-icon {
      margin-right: 8px;
    }

    img {
      height: 30px;
      margin-right: 8px;
    }
  }

  .mat-expansion-panel:not(.mat-expanded)
    .mat-expansion-panel-header:hover:not(.active):not([aria-disabled="true"]) {
    background: $sidenav-bg;
  }
}
