@import "../../../../styles/variables.scss";

:host {
  color: #fff;
  padding: 0;
  font-size: 14px;

  > div {
    padding: 16px;
    min-height: 16px;

    > div {
      display: inline-block;
      float: right;
    }
  }
}

button {
  font: 400 14px Roboto, "Helvetica Neue", sans-serif;
  max-height: 16px;
}

.default {
  background: $default;
}

.info {
  background: $info;
}

.error {
  background: $error;
}

.success {
  background: $success;
}

.warning {
  background: $warning;
  color: $color-dark-1;
}
