<div class="content-scrollable">
  <div class="container">
    <img class="logo" src="../../../../assets/logo.png" />
    <br />
    <span>Just to make sure the email belonngs to you.</span>
    <span>We have sent you account confirmation code to {{ email }}</span>
    <br />
    <form #confirmationForm="ngForm">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="text"
          name="confirmationCode"
          maxlength="6"
          pattern="[a-zA-Z0-9]{6}"
          required
          [disabled]="disabledForm"
          [(ngModel)]="confirmationCode"
        />
      </mat-form-field>

      <p *ngIf="error" class="error">{{ error }}</p>

      <button
        mat-flat-button
        color="accent"
        (click)="confirm()"
        [disabled]="disabled || !confirmationForm.form.valid"
        style="margin-top: 4px"
      >
        confirm
      </button>

      <br /><br />

      <span *ngIf="!canResend"
        >You can request a code in
        <app-timer
          [args]="timerArgs"
          (timerStopped)="timerStopped()"
        ></app-timer
      ></span>
      <span *ngIf="canResend"
        >Click <span class="hyperlink" (click)="resend()">here</span> to send
        you verification code.</span
      >
    </form>

    <br /><br /><br />

    <span
      >Thanks for helping us to secure account from unauthorized access!</span
    >
  </div>
</div>
