$primary: #ee6e73;
$default: #4285f4;
$info: #1c78d1;
$error: #c53929;
$success: #34a853;
$warning: #fbbc04;

$color-light-1: rgba(255, 255, 255, 1);
$color-light-2: rgba(255, 255, 255, 0.6);
$color-light-3: rgba(245, 245, 245, 1);

$primary-dark: #db666a;
$color-dark-1: #000;
$color-dark-2: #616161;
$color-dark-3: #616161;
$color-dark-4: rgba(0, 0, 0, 0.3);
