<mat-tab-group animationDuration="0ms">
  <mat-tab>
    <!-- custom tab label -->
    <ng-template mat-tab-label>
      <span>First</span>
      <!-- <mat-icon>menu</mat-icon> -->
    </ng-template>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
    <div>Content 1</div>
  </mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
