<header>
  <app-announcement fxLayout="column"></app-announcement>
  <app-header
    *ngIf="layout.hasHeader"
    fxLayout="column"
    [hasSidenav]="!layout.hasMainnav"
    [currentRoute]="currentRoute"
  ></app-header>
  <app-mainnav
    *ngIf="layout.hasMainnav"
    fxLayout="column"
    [currentRoute]="currentRoute"
  ></app-mainnav>
  <app-notification fxLayout="column"></app-notification>
</header>
<main>
  <router-outlet *ngIf="layout.hasMainnav"></router-outlet>
  <mat-drawer-container
    *ngIf="!layout.hasMainnav"
    hasBackdrop="false"
    fxLayout="row"
    fxFlex="100"
    autosize
  >
    <mat-drawer #sidenav id="main-sidenav" mode="side">
      <app-sidenav [currentRoute]="currentRoute"></app-sidenav>
    </mat-drawer>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</main>
<footer>
  <app-footer *ngIf="layout.hasFooter" fxLayout="column"></app-footer>
</footer>
