<header>
  <app-announcement fxLayout="column"></app-announcement>
  <app-header *ngIf="layout.hasHeader" fxLayout="column"></app-header>
  <app-notification fxLayout="column"></app-notification>
</header>
<main>
  <mat-drawer-container
    hasBackdrop="false"
    fxLayout="row"
    fxFlex="100"
    autosize
  >
    <mat-drawer #sidenav id="main-sidenav" mode="side">
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</main>
<footer>
  <app-footer *ngIf="layout.hasFooter" fxLayout="column"></app-footer>
</footer>
