<!-- view state -->
<app-view-states [viewStates]="viewStates"></app-view-states>

<mat-drawer-container
  *ngIf="viewStates?.isIdle"
  hasBackdrop="false"
  fxLayout="row"
  fxFlex="100"
  autosize
>
  <mat-drawer
    #sidenav
    id="main-sidenav-info"
    mode="over"
    disableClose="true"
    position="end"
  >
    <!-- info-sidenav header -->
    <div class="infoSidenav">
      <div class="header">
        <mat-icon>{{ toolbar?.toolbarButton?.icon }}</mat-icon>
        <span>{{ toolbar?.toolbarButton?.name }}</span>
        <button
          mat-icon-button
          aria-label="icon-button"
          class="closeInfoSidenav"
          (click)="sidenav?.close()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-drawer>
  <div class="container">
    <table
      id="datatable_id"
      mat-table
      [dataSource]="dataSource"
      matSortActive="position"
      matSortDirection="asc"
      matSortDisableClear
      multiTemplateDataRows
      recycleRows
      matSort
      (matSortChange)="sortTable($event)"
    >
      <!-- header -->
      <ng-container matColumnDef="header">
        <td
          mat-header-cell
          *matHeaderCellDef
          [attr.colspan]="dataSource?.data?.length ?? 0"
          style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)"
        >
          <app-datatable-toolbar
            [toolbar]="toolbar"
            (onButtonClick)="toolbarButtonClick($event)"
            (onSearchKeyup)="toolbarSearchKeyup($event)"
            (sortClick)="(sortTable)"
          ></app-datatable-toolbar>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        <td mat-footer-cell *matFooterCellDef>No.</td>
      </ng-container>

      <!-- Online Column -->
      <ng-container matColumnDef="online">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>online</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [ngClass]="element.online ? 'success-color' : 'error-color'"
            >radio_button_checked</mat-icon
          >
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        <td mat-footer-cell *matFooterCellDef>Name</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        <td mat-footer-cell *matFooterCellDef>Weight</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
        <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        <td mat-footer-cell *matFooterCellDef>Symbol</td>
      </ng-container>

      <!-- Popularity Column -->
      <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef>Popularity</th>
        <td mat-cell *matCellDef="let element">
          <app-star-rating [value]="element.number"></app-star-rating>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button
            mat-icon-button
            class="info-color expandable"
            (click)="expandedItems = !expandedItems"
          >
            <mat-icon class="expandable">{{
              expandedItems ? "expand_more" : "expand_less"
            }}</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            class="error-color"
            (click)="deleteItem(element, $event)"
          >
            <mat-icon>delete</mat-icon></button
          ><button
            mat-icon-button
            class="info-color"
            (click)="editItem(element, $event)"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            class="info-color expandable"
            (click)="element.expanded = !element.expanded"
          >
            <mat-icon class="expandable">{{
              element.expanded ? "expand_more" : "expand_less"
            }}</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- footer -->
      <ng-container matColumnDef="footer">
        <td
          mat-footer-cell
          *matFooterCellDef
          [attr.colspan]="dataSource?.data?.length ?? 0"
        >
          <mat-paginator
            [length]="dataSource?.data?.length ?? 0"
            [pageSize]="defaultPageSize"
            [pageSizeOptions]="paginationSizes"
            aria-label="Select page of tables"
            showFirstLastButtons
          ></mat-paginator>
        </td>
      </ng-container>

      <!-- header -->
      <tr mat-header-row *matHeaderRowDef="['header']; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

      <!-- body -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="element-row"
        [cdkDetailRow]="row"
        [cdkDetailRowTpl]="tpl"
        [cdkDetailRowOpen]="expandedItems"
      ></tr>

      <!-- footer -->
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr> -->
      <tr
        mat-footer-row
        *matFooterRowDef="['footer']; sticky: true"
        class="second-footer-row"
      ></tr>
    </table>
  </div>
</mat-drawer-container>

<!-- detail-row -->
<ng-template #tpl let-element>
  <app-datatable-detail-row
    [element]="element"
    [colspan]="displayedColumns?.length ?? 0"
  ></app-datatable-detail-row>
</ng-template>
