@import "../../../../styles/variables.scss";

::ng-deep {
  bottom-sheet {
    .mat-list-item-content {
      text-align: center;

      > *:last-child {
        flex: 5;
        text-align: left;
      }
      > *:nth-last-child(2) {
        flex: 1;
        width: 24px;
        height: 24px;
      }
    }
  }
}

:host {
  display: block;

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 12px;
    height: 53px;

    // buttons
    button {
      color: $toolbar-color;
      border-radius: 0 !important;
      border: 0;
      background: transparent;
      padding: 0;
      height: 100%;
      border-radius: 0;

      div {
        color: rgba(97, 97, 97, 0.8);
        font-size: 10px;
        line-height: 1;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    // button all-buttons is visible on tablet view
    button.all-buttons {
      display: block;
    }
    // button buttun-more is visible on mobile view
    button.buttun-more {
      display: none;
    }

    // search
    .search {
      display: flex;
      flex: 1;

      input {
        font-size: 18px;
        color: $toolbar-color;
      }
    }
  }

  @media only screen and (max-width: 720px) {
    // button buttun-more is visible on mobile view
    .toolbar {
      > .all-buttons {
        display: none !important;
      }
      > .buttun-more {
        display: block !important;
      }
    }
  }
}
