@import "../../../../styles/variables.scss";

:host {
  padding: 0;
  font-size: 14px;
  display: block;

  > div {
    box-shadow: inset 0px 3px 3px 0 lighten($color-dark-1, 12%);
    padding: 16px;

    > div {
      float: right;
    }
  }

  button {
    font: 400 14px Roboto, "Helvetica Neue", sans-serif;
  }
}
