@import "../../../../styles/variables.scss";

:host {
  padding: 0;
  font-size: 14px;
  display: block;

  > div {
    padding: 16px;

    > div {
      float: right;
    }
  }

  button {
    font: 400 14px Roboto, "Helvetica Neue", sans-serif;
  }

  .default {
    background: $default;
    color: #fff;
  }

  .info {
    background: $info;
    color: #fff;
  }

  .error {
    background: $error;
    color: #fff;
  }

  .success {
    background: $success;
    color: #fff;
  }

  .warning {
    background: $warning;
    color: $color-dark-1;
  }
}
