@import "./styles/variables.scss";

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  header {
    flex: 0;
    flex-shrink: 0;
    z-index: 9;
  }
  main {
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
    > * {
      flex: 1;
      flex-grow: 1;
    }
  }
}

/*
  content scrollable
  example: 
    <div class="content-scrollable">
      <div>
        // this is scrollable
      </div>
    <div>
*/
.content-scrollable {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: auto;
  outline: 0;
  flex-basis: 100%;
}

/*
  badge
*/
.mat-badge-content {
  width: auto !important;
  display: grid;
  min-width: 32px;
  min-height: 22px;
  text-align: center;
  align-items: center;
  padding: 5px 5px 0px 5px;
  top: -20px !important;
  right: -20px !important;
  border-radius: 4px;
}

/*
  background
*/
.default-bg {
  background: $default;
  color: #fff;
}
.info-bg {
  background: $info;
  color: #fff;
}
.error-bg {
  background: $error;
  color: #fff;
}
.success-bg {
  background: $success;
  color: #fff;
}
.warning-bg {
  background: $warning;
  color: $color-dark-1;
}
.default-bg {
  background: $default;
  color: #fff;
}

/*
  color
*/
.info-color {
  color: $info;
}
.error-color {
  color: $error;
}
.success-color {
  color: $success;
}
.warning-color {
  color: $warning;
}
.gold-color {
  color: #ffd700;
}

/*
  fullscreen
*/
.fullscreen {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}

/*
  sidenav
*/
#main-sidenav,
#main-sidenav-info {
  width: 250px;
}

/*
  scrollbar
*/
*::-webkit-scrollbar {
  width: 0.4em;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
}
