@import "../../../../../styles/variables.scss";

:host {
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .phone.mat-form-field-appearance-outline .mat-form-field-label {
      left: 34px;
      top: 2.1em;
    }
    .phone.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label {
      left: 0;
      top: 1.8em;
      background: #fafafa;
      width: 120px;
      padding-left: 4px;
    }
    .phone.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-outline-gap {
      border-top-color: inherit;
    }
  }

  .container {
    width: 360px;
    display: grid;
    margin: 0 auto;
    padding: 16px 16px;
    text-align: center;

    > span {
      text-align: center;
      color: $color-dark-3;
    }

    button {
      width: 320px;
    }

    form {
      text-align: center;

      > * {
        width: 320px;
      }

      .phone {
        input {
          text-indent: 34px;
        }
        .prefix {
          top: 16px;
          position: absolute;
          left: 0;
          color: $color-dark-3;
        }
      }

      .error {
        display: inline-block;
        color: $error;
      }

      button {
        height: 56px;
      }
    }

    .other {
      padding: 0 16px;

      .or {
        width: 100%;
        position: relative;
        margin: 30px 0;
        text-align: center;

        span {
          position: absolute;
          top: -9px;
          margin-left: -18px;
          padding: 0 8px;
          background: #fafafa;
        }
      }

      .terms {
        width: 320px;
        display: inline-block;
        color: $color-dark-4;
        text-align: center;
        margin: 16px 0;

        a {
          color: $color-dark-4;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}
