<div class="container">
  <div fxflex fxLayout="row">
    <div fxflex fxLayout="column" class="firstColumn">
      <h5 class="mat-h2">Footer Content</h5>
      <p class="mat-body-1">
        You can use rows and columns here to organize your footer content.
      </p>
      <div>
        <a href="https://www.facebook.com/" target="blank"
          ><img src="../../../../assets/icons/facebook.svg" alt="facebook"
        /></a>
        <a href="https://www.instagram.com/" target="blank"
          ><img src="../../../../assets/icons/instagram.svg" alt="instagram"
        /></a>
        <a href="https://www.twitter.com/" target="blank"
          ><img src="../../../../assets/icons/twitter.svg" alt="twitter"
        /></a>
        <a href="https://www.youtube.com/" target="blank"
          ><img src="../../../../assets/icons/youtube.svg" alt="youtube"
        /></a>
      </div>
    </div>
    <div fxflex fxLayout="column" class="secondColumn">
      <h5 class="mat-h2">Links</h5>
      <ul class="links">
        <li><a class="mat-body-1" href="#Link1">Link 1</a></li>
        <li><a class="mat-body-1" href="#Link2">Link 2</a></li>
        <li><a class="mat-body-1" href="#Link3">Link 3</a></li>
        <li><a class="mat-body-1" href="#Link4">Link 4</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  © 2022 Moshkou, All Rights Reserved
  <a href="#!">More Links</a>
</div>
