<mat-expansion-panel
  *ngFor="let item of items"
  [hideToggle]="item.children === undefined"
  [disabled]="item?.link === undefined && item?.children === undefined"
>
  <mat-expansion-panel-header
    [ngClass]="item.selected ? 'active' : ''"
    [routerLink]="
      item.children === undefined && item?.link !== undefined
        ? item?.link
        : null
    "
    (click)="itemSelect(item)"
  >
    <mat-icon *ngIf="item.icon && !item.imageIcon">{{ item.icon }}</mat-icon>
    <img *ngIf="!item.icon && item.imageIcon" [src]="item.imageIcon" />
    {{ item.label }}
  </mat-expansion-panel-header>
  <ng-container *ngIf="item.children">
    <a
      *ngFor="let child of item.children"
      [ngClass]="child.selected ? 'item active' : 'item'"
      [routerLink]="child?.link !== undefined ? child.link : null"
      (click)="itemSelect(child)"
    >
      <mat-icon *ngIf="child.icon && !child.imageIcon">{{
        child.icon
      }}</mat-icon>
      <img *ngIf="!child.icon && child.imageIcon" [src]="child.imageIcon" />
      {{ child.label }}
    </a>
  </ng-container>
</mat-expansion-panel>
